body {
    margin: 0px;
}
.container {  
    padding: 20px;
    width: auto;
    height: auto;
    position: relative;
    background-image:linear-gradient(silver, white)
}
#photo {
    width: 55%;
    height: auto;
    padding-left: 4%;
    padding-right: 4%;
    background-color: white;
    border-radius: 2%;
    left: 20%;
    right: 20%;
    position: relative;
}
#next {
    transform: rotate(0.5turn);
}
#previous, #next {
    cursor: pointer;
    top: 45%;
    width: 45px;        
}
#previous {
    left: 22%;
    position: absolute;
}
#next {
    right:19%;  
    position: absolute;
}
.opa-box {
    font-size: 26px;
    color:white;
    position: absolute;
    width: 52.2%;
    height: 21%;
    left: 24.4%;
    right: 24.7%;
    top: 71%;
    background-color: black;
    padding:1%;
    text-align:left;
    opacity:0.7;
}

