body {
    margin: 0px;
}
.container {  
    padding: 20px;
    width: auto;
    height: auto;
    position: relative;
    background-image:linear-gradient(silver, white)
}
#photo {
    width: 55%;
    height: auto;
    padding-left: 4%;
    padding-right: 4%;
    background-color: white;
    border-radius: 2%;
    left: 20%;
    right: 20%;
    position: relative;
}
#next {
    transform: rotate(0.5turn);
}
#previous, #next {
    cursor: pointer;
    top: 38%;
    width: 25px;        
}
#previous {
    left: 22%;
    position: absolute;
}
#next {
    right:19%;  
    position: absolute;
}